
body {
    padding: 0; 
    margin: 0; 
}

.section-one {
    background-color: #1f2937;
    height: 85vh;
    border: dashed springgreen 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header {
    background-color: #1f2937;
    border: yellow 2px solid;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:400px;
}

.header ul {
    color: white;
    border: springgreen 2px solid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header-logo {
    border: red 2px solid;
    font-weight: 24px;
    color: #F9FAF8;; 
    display: flex;  
}


.right {
    border: red 2px solid;
    width: 550px;
    height: 300px;
}

.right h1 {
    font-size: 48px;
}

.left img {
   border: 2px solid blueviolet;
   width: 505px; 
   height: 320px;   
}

















